body {
    margin: 0;
    min-height: 100vh;
    min-height: 100dvh;
    background-image: url('../images/bgLoginSignup.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Alike', serif;
}


.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}


.tagline {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 40px;
}


.login-card {
    padding-right: 7vh;
    padding-left: 7vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 60vh;
    
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6px);
}


.login-title {
    font-size: 1.5rem;
    color: white;
    margin-top: 0;
    margin-bottom: 25px;
}


.google-btn {
    font-size: 0.7rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px;
    border-radius: 25px;
    border: none;
    background: white;
    cursor: pointer;
}


.google-btn img {
    width: 20px;
}


.divider {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.6);
    margin: 20px 0;
}


.login-card form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.login-card input {
    font-size: 0.7rem;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    color: white;
}

.login-card input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}


.forgot {
    font-size: 0.7rem;
    color: rgb(80, 200, 120);
    text-align: left;
    text-decoration: none;
}


.login-btn {
    font-size: 0.9rem;
    font-family: 'Alike', serif;
    margin-top: 10px;
    padding: 12px;
    border-radius: 25px;
    border: 2px solid rgb(60, 200, 100);
    background-color: rgb(24, 80, 48);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}


.login-btn:hover {
    background-color: rgb(36, 110, 66);
    border-color: rgb(80, 220, 120);
}


.signup-text {
    font-size: 0.7rem;
    margin-top: 20px;
    color: white;
}


.signup-text a {
    color: rgb(80, 200, 120);
    text-decoration: none;
    font-weight: bold;
}


/* ......................................................................................*/
@media screen and (max-width: 768px) {
	body {
	       background-image: url('../images/mobileLoginSignup.png'); 
	   }
   
   .login-page {
       padding: 5vh 2vh; 
   }
   
   .tagline {
       font-size: 2rem; 
       margin-bottom: 25px;
   }
  
   .login-card {
	   margin-top:12vh;
       width: 60vw;          
       padding-left:13vw;    
	   padding-right:13vw;  
	   background: rgba(0,0,0,0.4);
	   border: 1px solid rgba(255,255,255,0.2);
	   backdrop-filter: blue(6px);
       border-radius: 20px; 
   }
   
   .login-title {
       font-size: 1.3rem; 
       margin-bottom: 20px;
   }
   
   .google-btn {
       font-size: 0.7rem; 
       padding: 10px;
       gap: 8px;
   }
   
   .divider {
       font-size: 0.7rem;
       margin: 15px 0;
   }

   .login-card input {
       font-size: 0.7rem;
       padding: 10px;
   }
 
   .forgot {
       font-size: 0.65rem;
   }
  
   .login-btn {
       font-size: 0.8rem;
       padding: 10px;
       border-radius: 20px;
   }
  
   .signup-text {
       font-size: 0.65rem;
   }
}